 <html>
                            <head>
                            {% load static %}
                                <meta charset='utf-8'>
                                <meta name='viewport' content='width=device-width, initial-scale=1'>
                                <title>Smart-Canisters</title>
                                  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
                                
                                         <link href="{%static 'css/material-dashboard.css' %}" rel="stylesheet" />
                                         </head>
                            <body>

                            {% comment %} sidebar,logo,simple-text,logo-normal,sidebar-wrapper,nav,nav-item,nav-link,material-icons {% endcomment %}
<div class="sidebar">
      <div class="logo"><a href="#" class="simple-text logo-normal">
          Smart-Canisters
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" href="./dashboard.html">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./user.html">
              <i class="material-icons">person</i>
<!--              <p>User Profile</p>-->
              <p>Menu 1</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./tables.html">
              <i class="material-icons">content_paste</i>
<!--              <p>Table List</p>-->
              <p>Menu 2</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="dashboard/EditAddress">
              <i class="material-icons">library_books</i>
<!--              <p>Typography</p>-->
              <p>Address</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./icons.html">
              <i class="material-icons">bubble_chart</i>
<!--              <p>Icons</p>-->
              <p>Menu 4</p>
            </a>
          </li>
<!--          <li class="nav-item ">-->
<!--            <a class="nav-link" href="./map.html">-->
<!--              <i class="material-icons">location_ons</i>-->
<!--              <p>Maps</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item ">-->
<!--            <a class="nav-link" href="./notifications.html">-->
<!--              <i class="material-icons">notifications</i>-->
<!--              <p>Notifications</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item ">-->
<!--            <a class="nav-link" href="./rtl.html">-->
<!--              <i class="material-icons">language</i>-->
<!--              <p>RTL Support</p>-->
<!--            </a>-->
<!--          </li>-->
<!--          <li class="nav-item active-pro ">-->
<!--            <a class="nav-link" href="./upgrade.html">-->
<!--              <i class="material-icons">unarchive</i>-->
<!--              <p>Upgrade to PRO</p>-->
<!--            </a>-->
<!--          </li>-->
        </ul>
      </div>
    </div>
    </body>
    </html>